@media (max-width: 1500px) {
  body {
    font-size: 1.26666rem;
  }
  .btn {
    width: 260px;
    height: 63px;
    padding: 17px 24px;
  }
  .btn__icon {
    width: 21px;
  }

  .feature__icon {
    width: 21.96px;
  }

  .item {
    padding: 13.5px 19px;
  }

  .header__searchbar {
    margin-top: 30px;
    padding: 23px 24px;
  }
  .header__logo {
    height: calc(100% - 30px);
  }

  .hero {
    margin-left: 0px;
    margin-top: 50px;
  }

  .cursor-effect {
    height: 70px;
  }

  .hero__feature-list {
    gap: 10px;
  }

  .hero__features {
    margin-top: 40px;
  }
  .hero-media {
    width: 45%;
  }
  .hero__btn {
    margin-top: 40px;
  }

  .intro {
    margin-left: 20px;
    margin-right: 20px;
  }

  .intro__media {
    width: 45%;
  }
  .intro__content {
    width: 510px;
  }
  .intro__desc {
    margin-top: 64px;
  }

  .intro__btn {
    margin-top: 28px;
  }
  .intro::before {
    top: 62%;
  }

  .benefit {
    padding-top: 180px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .benefit__list {
    gap: 25px;
  }

  .benefit-item {
    width: 262px;
    height: 303px;
    border-radius: 40px;
    padding: 24px;
  }

  .benefit-item__icon:first-of-type {
    height: 50px;
  }
  .benefit-item__heading {
    margin-top: 0px;
  }
  .benefit-item__desc {
    margin-top: 13px;
  }

  .benefit-item-2,
  .benefit-item-4 {
    transform: translateY(92px);
  }

  .comment {
    margin-top: 231px;
    padding: 49px 67px;
    height: 411px;
    border-radius: 60px;
    column-gap: 50px;
  }
  .comment__content {
    width: 70%;
  }

  .comment__desc {
    margin-top: 20px;
  }
  .comment__customer {
    margin-top: 12px;
  }
  .comment__previous--img,
  .comment__next--img {
    height: 10px;
  }
  .comment__btn {
    margin-top: 20px;
    column-gap: 0px;
  }
  .comment__avatar {
    width: 25.5%;
  }

  .product {
    padding: 100px 20px 0 40px;
    column-gap: 10px;
  }
  .product__content {
    width: 43.25%;
  }
  .product__media {
    width: 50%;
  }
  .product__feature,
  .product__btn {
    margin-top: 35px;
  }
  .product::after {
    top: -13%;
  }

  .question {
    padding-top: 230px;
  }

  .question__list {
    margin-top: 60px;
    row-gap: 20px;
  }
  .question-item {
    max-height: 104px;
    padding: 30px 36px;
    border-radius: 38px;
  }

  .question-item__action {
    width: 47px;
    height: 47px;
  }

  .question-item__answer > td {
    padding-top: 8px;
  }

  .question::before {
    top: 18%;
  }

  footer {
    margin-top: 400px;
  }
  .footer-bottom {
    padding: 27px 13px 44px;
  }
}

/* ======================tablet size====================== */

@media (max-width: 1080px) {
  body {
    font-size: 1.2rem;
  }
  .container {
    max-width: calc(100% - 40px);
  }

  .header__searchbar {
    margin-top: 60px;
    padding: 19px 15px;
  }
  .header__logo {
    height: calc(100% - 22px);
    left: 58px;
  }
  .hero {
    flex-direction: column-reverse;
    margin-top: 0;
  }
  .hero-media {
    width: 95%;
    max-width: 550px;
  }

  .hero__content {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 30px;
  }
  .hero__desc,
  .hero__heading,
  .hero__btn {
    grid-column-start: 1;
  }
  .hero__heading {
    font-size: 4em;
  }
  .hero__desc {
    font-size: 1.65em;
  }
  .hero__features {
    grid-column-start: 2;
    grid-row: 1/3;
  }
  .hero__btn {
    margin-top: 30px;
  }
  .cursor-effect {
    height: 61px;
  }
  .intro__desc {
    margin-top: 23px;
  }
  .benefit-item {
    width: 234px;
    height: 307px;
    padding: 18px;
    border-radius: 35px;
  }
  .benefit {
    flex-direction: column;
    row-gap: 50px;
  }
  .benefit__content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 40px);
    column-gap: 20px;
    width: 90%;
  }
  .benefit__btn {
    grid-column: 2;
    grid-row: 1/2;
  }
  .benefit__desc,
  .benefit__heading {
    width: 500px;
  }

  .benefit__list {
    margin-top: 80px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
  }
  .benefit-item-3 {
    background-color: #fff;
    border-color: #fff;
  }
  .benefit-item-4 {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  .benefit-item-3 .benefit-item__no::after {
    color: var(--primary-color);
  }
  .benefit-item-4 .benefit-item__no::after {
    color: #fff;
  }
}

@media (max-width: 930px) {
  .btn {
    max-width: 380px;
    width: 90%;
  }
  .heading {
    max-width: 700px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  .desc {
    text-align: center;
    max-width: 750px;
    width: 90%;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__btn {
    margin-top: 40px;
  }
  .intro {
    flex-direction: column-reverse;
    align-items: center;
  }
  .intro__content {
    width: 100%;
  }

  .intro__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro__media {
    width: 95%;
    max-width: 550px;
  }
  .benefit {
    padding-top: 270px;
  }
  .benefit__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .benefit__list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
  }
  .benefit__btn {
    margin-top: 30px;
  }
  .benefit-item-4 {
    background-color: #fff;
    border-color: #fff;
  }
  .benefit-item-3 {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  .benefit-item-4 .benefit-item__no::after {
    color: var(--primary-color);
  }
  .benefit-item-3 .benefit-item__no::after {
    color: #fff;
  }
  .comment {
    flex-direction: column;
    height: fit-content;
    padding: 49px 30px;
  }
  .comment__avatar {
    width: 79.5%;
    max-width: 315px;
  }
  .comment__content {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product {
    flex-direction: column-reverse;
    align-items: center;
  }
  .product__feature-list {
    grid-template-columns: repeat(2, auto);
  }
  .product__media {
    width: 95%;
    max-width: 550px;
  }
  .product__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .question {
    padding-top: 252px;
  }
  .footer-top {
    flex-direction: column;
    row-gap: 30px;
  }
  .question-item {
    max-height: 156px;
  }
  .question__desc {
    margin: 14px auto 0;
  }
  .footer-top {
    padding-bottom: 65px;
  }
  .footer-bottom {
    flex-direction: column;
  }
}

/* ======================phone size====================== */

@media (max-width: 560px) {
  body {
    font-size: 1.6rem;
  }
  .header__searchbar {
    margin-top: 50px;
  }
  .container {
    max-width: calc(100% - 24px);
  }
  .cursor-effect {
    height: 48px;
  }
  .hero__content,
  .hero__content > *,
  .intro,
  .intro > *,
  .intro > * > *,
  .benefit,
  .benefit > *,
  .benefit > * > *,
  .product,
  .product > *,
  .product > * > *,
  .question,
  .question > * .footer-bottom > *,
  .footer-top > *,
  .footer-bottom {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: start;
    align-items: start;
    translate: initial;
  }
  .benefit-item-2,
  .benefit-item-4 {
    transform: translateY(0);
  }

  .intro,
  .product {
    padding-top: 100px;
  }
  .intro__desc em {
    display: block;
  }
  .benefit,
  .question,
  footer {
    padding-top: 180px;
    margin-top: 0;
  }

  .hero__desc,
  .desc {
    font-size: 1em;
    margin-top: 20px;
  }

  .hero__heading,
  .heading {
    font-size: 2.013125em;
  }

  .hero__feature-list,
  .benefit__list,
  .product__feature-list {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    margin-top: 30px;
  }
  .item {
    height: 48.87px;
  }
  .feature__content {
    font-size: 1.053125em;
  }
  .btn {
    margin: 40px auto 0;
    padding: 25px;
    align-items: center;
  }
  .btn__content {
    font-size: 1.165em;
  }
  .benefit-item {
    padding: 47.86px;
    height: fit-content;
    max-width: 400px;
    width: 100%;
    border-radius: 57.5px;
    row-gap: 32.5px;
  }
  .benefit__list {
    row-gap: 30px;
    align-items: center;
  }
  .benefit::before {
    height: 160%;
  }
  .benefit-item-3 {
    background-color: #fff;
    border-color: #fff;
  }
  .benefit-item-4 {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  .benefit-item-3 .benefit-item__no::after {
    color: var(--primary-color);
  }
  .benefit-item-4 .benefit-item__no::after {
    color: #fff;
  }

  .comment {
    padding: 40px 25px;
  }
  .question-item {
    padding: 30px;
  }
  .question-item__heading {
    font-size: 1.2em;
  }
  .question-item__answer {
    font-size: 1.125em;
  }
  .question-item__action {
    width: 36px;
    height: 36px;
  }
  .question::before {
    height: 180%;
  }
  .footer-top {
    row-gap: 0;
  }
  .footer__copyright,
  .footer__policy {
    display: block;
    font-size: 0.8em;
    align-self: flex-start;
  }
  .footer-bottom {
    margin-top: 30px;
    margin-bottom: 35px;
  }
}
